
html{
    background-image: url("assets/home.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.con{
    position: relative;

}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    margin-top: 30px ;
}

.ancients{
    display: flex;
    gap: 2vh;
    justify-content: center;
}

.anc__card{
    width: 14%;
    border: solid rgb(204, 164, 164) 2px;
    transition: all .2s;
}


.complexitys{
    display: none;
    gap: 2vh;
    transition: all 0.3s;

}



.complexity{
    border: solid rgb(204, 164, 164) 2px;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    transition: all .2s;

}


.redCo{
    background-color: red;
    transition: all .2s;
}

.anc__card:active{
    border: solid red 2px;
    transition: all .2s;

}



.red{
    border: solid red 2px;
}



.go{
    display: none;
    border: solid rgb(204, 164, 164) 2px;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    transition: all .2s;
}



/* ------------------------ GAME ---------------------------- */



.game{
    display: none;
    justify-content: center;
    align-items: flex-start;
    gap: 10vh;
    transition: all 0.3s;

}
.flex{
    display: flex;
    transition: all 0.3s;
}
.stages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.title__stage{
    color: #fff;
    font-size: 24px;
}
.stage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:  1vh;
}
.card__number{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity{
    width: 10px;
    height: 10px;
    background-color: #fff;
}

.deck{
    width: min-content;
    height: auto;
}

.deck__card{
    width: 200px;
    height: auto;
}

.open__card{
    width: min-content;
    height: auto;
}

.card{
    width: 200px;
    height: auto;
}